{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <br>
    <h1>Home Page</h1>
    <br>
    <main role="main">
        <div class="jumbotron">
          <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to my 200iq Python Blog this page is currently under development and it will be a home page to this project If you want to go to post page click <a href="/posts">here</a> or <a href="/posts">here</a> :)</p>
            <p>If you don't have time to read all this text and just want to go to posts click the blue button below</p>
            <p>
              <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
            </p>
          </div>
        </div>
    </main>
{% endblock %}










